[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdfplumber = "*"
langchain = "*"
langchain_community = "*"
langchain_huggingface = "*"
sentence-transformers = "*"
torch = {version = "*", index = "pypi", markers = "platform_system != 'Darwin'"}
streamlit = "*"
python-dotenv = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.12"
